# RedNodeRanging driver configuration options

# Copyright (c) 2020 RedNodeLabs

#
# Ranging options
#
menuconfig REDNODERANGING
	bool "RedNodeRanging Driver"
    depends on REDNODEBUS && IEEE802154_DW1000
	default y

if REDNODERANGING

config REDNODERANGING_RECEIVED_NODE_MAX_RETENTION_SF_COUNT
    int "Received node max retention superframe count"
    default 2
    help
      Once passed the max retention superframe count, the received nodes will be
	  evicted from the ranging cache.

config REDNODERANGING_BIAS_CORRECTION_ENABLED
	bool "Enable bias correction"
	default n
	help
      Enable bias correction.

config REDNODERANGING_CLOCK_OFFSET_CORRECTION_ENABLED
	bool "Enable clock offset correction"
	default y
	help
      Enable clock offset correction.

config REDNODERANGING_CLOCK_OFFSET_CORRECTION_3W_ENABLED
	bool "Enable clock offset correction in 3W"
	depends on REDNODERANGING_CLOCK_OFFSET_CORRECTION_ENABLED
	default n
	help
      Enable clock offset correction in 3W.

rsource "Kconfig.dw"

module = REDNODERANGING_DRIVER
module-str = RedNodeRanging driver
module-help = Sets log level for RedNodeRanging Device Drivers.
source "subsys/logging/Kconfig.template.log_config"

endif # REDNODERANGING
