# RedNodeRanging driver configuration options

# Copyright (c) 2020 RedNodeLabs

#
# Ranging options
#
menuconfig REDNODERANGING
	bool "RedNodeRanging Driver"
	depends on REDNODEBUS && (IEEE802154_DW1000 || IEEE802154_DW3000)
	default y

if REDNODERANGING

config REDNODERANGING_2W_ENABLED
	bool "Enable 2W ranging"
	default y
	help
	  Enable 2W ranging (SS-TWR).

config REDNODERANGING_3W_ENABLED
	bool "Enable 3W ranging"
	default y
	help
	  Enable 3W ranging (DS-TWR).

config REDNODERANGING_RECEIVED_NODE_MAX_RETENTION_SF_COUNT
	int "Received node max retention superframe count"
	default 8
	help
	  Once passed the max retention superframe count, the received nodes will be evicted from the ranging cache.

config REDNODERANGING_CLOCK_OFFSET_CORRECTION_2W_ENABLED
	bool "Enable clock offset correction in 2W"
	depends on REDNODERANGING_2W_ENABLED
	default y
	help
	  Enable clock offset correction.

rsource "Kconfig.dw"

module = REDNODERANGING_DRIVER
module-str = RedNodeRanging driver
module-help = Sets log level for RedNodeRanging Device Drivers.
source "subsys/logging/Kconfig.template.log_config"

endif # REDNODERANGING
